@import './common';
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: #fff;
    color: $mainFontColor;
    font-size: $mainFontSize;   
    min-height: 100vh;
}
#root {
    min-height: 100vh;
    position: relative;
}
p {
    margin: 0;
}
a {
    outline: none;
}

.container {
    width: calc(100% - #{$navigationWidth});
    box-sizing: border-box;
    background: $containerBackgroundColor;
    display: flex;
    align-items: flex-start;
    position: relative;
}
.sub-container {
    margin: 15px;
    background: $subContainerBackgroundColor;
    border: 1px solid $subContainerBorderColor;
    box-sizing: border-box;
    padding: 20px;
    position: relative;
    h2 {
        line-height: 80%;
        margin-top: 0;
        margin-bottom: 15px;
    }
}
/**
* Button
*/
button {
    @include buttonStyle;
}
.btn {
    @include buttonStyle;
}


.hidden {display: none;}
/**
* Input
*/
.form-group {
    display: flex;
    margin: 6px 0;
    position: relative;
    label {
        margin-right: 8px;
        width: 120px;
    }
    input {
        background: transparent;
        border: none;
        border-bottom: 1px solid $borderColor;
        color: black;
        width: 100%;
        box-sizing: border-box;
        padding: 0 5px;
        font-size: $mainFontSize;
    }
    .icon {
        position: absolute;
        left: 5px;
    }
    svg {
        color: black;
    }
    .toggle-password {
        position: absolute;
        right: 5px;
        top: 15px;
        cursor: pointer;
    }
    .error {
        font-size: 12px;
        text-align: left;
        color: #fff;
        padding: 5px;
        background: #3e3e3e;
        position: absolute;
        left: calc(100% + 15px);
        bottom: -6px;
        white-space: nowrap;
        &::before {
            content: '';
            width: 8px;
            height: 8px;
            display: inline-block;
            background: #3e3e3e;
            margin-bottom: 2px;
            margin-right: 5px;
            transform: rotate(45deg);
            position: absolute;
            left: -4px;
            top: 8px;
        }
    }
}
button[type="submit"] {
    display: block;
    margin: 0 auto;
    margin-top: 25px;
}
section.login-register {
    input {
        padding: 0 30px;
        padding-bottom: 5px;
    }
    .error {
        font-size: 12px;
        text-align: left;
        color: black;
        padding-top: 4px;
        position: absolute;
        left: 0;
        bottom: -6px;
        &::before {
            content: '';
            width: 5px;
            height: 5px;
            display: inline-block;
            background: black;
            border-radius: 3px;
            margin-bottom: 2px;
            margin-right: 5px;
        }
    }
}
section.cms {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
}